* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

#menu {
    display: flex;
    justify-content: space-between;
    background-color: #dfdfdf;
    padding: 25px;
}

.logo {
    font-size: 24px;
}

.navegacao ul {
    list-style: none;
    display: flex;
    color:  #828282;
}

.navegacao ul li a {
    color: antiquewhite;
    text-decoration: none;
}

.navegacao ul li {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

#sobre {
    text-align: center;
   background-color: #828282;
    padding: 60px 20px;
}

.sobre-imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.sobre-nome {
    color: antiquewhite ;
    font-size: 36px;
    margin-top: 20px;
}

.sobre-titulo {
    color: #C5C0C0;
    font-size: 24px;
    margin-top: 10px;
}

.sobre-descricao {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

#formacao {
    padding: 50px 150px;
}

.formacao-titulo {
    color: hwb(0 55% 45%);
    font-size: 30px;
    margin-bottom: 30px;
}

.formacao-lista {
   width: 600px;
    margin: 0 auto;
}

.formacao-lista h3 {
    font-size: 20px;
    color: #828282;
    margin-bottom: 10px;
    width: 180px;
}

.formacao-lista a {
    color: #1b549e;
    font-size: 20px;
    margin-bottom: 15px;
} 

.formacao-lista p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}
#Experiencias{
    background-color: #828282;
    padding: 50px 150px;
}

.Experiencias-titulo{
    color: antiquewhite;
    font-size: 30px;
    margin-bottom: 30px;
    margin: 0% auto;
}
.Experiencias-lista{
    width: 600px;
    margin: 0%auto;
}
.Experiencia-lista h3{
    font-size: 20px;
    color: #828282;
    margin-bottom: 10px;
    width: 180px;
    }

    .Experiencia-lista a{
        color: #2F80ED;
    font-size: 20px;
    margin-bottom: 15px;
    }

    .Experiencia-lista p{
     margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}
#Contato{
padding:50px 150px;
}

.Contato-titulo{
     color: hsl(0, 0%, 59%);
     font-size: 30px;
     margin-bottom: 30px;
}

.Contato-formu{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0% auto;
}

.Contato-grupoinput{
    display: flex;
    justify-content: space-between;

}
.Contato-input{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

.Contato-input input{
padding: 10px;
font-size:19px ;
border: 1px solid #C5C0C0;
border-radius: 10px;
margin-right: 20px;
}

.Contato-input textarea{
 padding: 10px;
font-size:19px ;
border: 1px solid #C5C0C0;
border-radius: 10px;

.Contato-input label{
    font-size: 13px;
    margin-bottom: 15px;
}
}
.btn-enviar{
        background-color: hsl(0, 0%, 59% );
    padding: 15px;
     color: #828282;
    font-size:23px;
    font-weight: bold;
    border: nome;
    border-radius: 20px;
}
.rodape{
    background-color: #C5C0C0;
    display: flex;
    padding: 30px 40px;
    justify-content:  space-between;
    color: #828282;
    align-items: center;
}
.rodape-contato a {
    color: antiquewhite;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    text-decoration: none;

}
.rodape-contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rodape-contato img{
vertical-align: middle;
}
.logo-minas{
 height: 80px;
}
